# SPDX-FileCopyrightText: 2018-2022 Niall McCarthy, <niall.mccarthy@crust.tech>, et al.
#
# SPDX-License-Identifier: CC0-1.0

.DS_Store
node_modules
dist
*.log

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.nyc_output
coverage

/.act*
/workflow
