/*
 * SPDX-FileCopyrightText: 2018-2022 Niall McCarthy, <niall.mccarthy@crust.tech>, et al.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

[dir] {
  margin: 0;
  background-color: $body-bg;
}

[dir="rtl"] {
  text-align: right;

  .popover,
  ul.vs__dropdown-menu,
  .dropdown-menu {
    right: auto !important;
  }
}
